@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Itim&family=Raleway&family=Roboto+Mono:wght@700&display=swap');

/* Fonts:
-> Aboreto (Horror)
-> Raleway (for gameOver)
-> Roboto Mono (type)
 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html{
    height: 100%;
    font-size: 62.5%;
}

body {
    background-color: black;
    color: white;

    min-height: 100%;
    width: 100vw;
}

header {
    background-color: rgba(53, 53, 53, 0.466);
    margin-bottom: 80px;
    padding: 20px;
    text-align: center;

    font-size: 2.3em;
    font-family: 'Aboreto';
    color:rgb(204, 19, 19);
}

.game {
    border: 1px solid brown;
    border-radius: 5px;
    text-align: center;

    margin: 0 auto;
    width: 40%;
    padding: 8px;
    display: flex;
    flex-direction: column;
}

.game img {
    height: 90px;
    width: 90px;
    display: flex;
    align-self: center;
}

.gamemode .game.mode {
    margin-top: 10px;
}

#gamemode {
    min-width: 35%;
    height: 30px;
    margin: 8px auto;
    padding: 4px;
    margin-bottom: 10px;

    border: 2px solid rgb(206, 107, 107);
    border-radius: 10px;

    background-color: rgba(223, 223, 223, 0.096);
    color: brown;
}

#limit {
    max-width: 30%;
    height: 30px;
    margin: 2px 10px;
    padding: 4px;

    border: 2px solid rgb(206, 107, 107);
    border-radius: 10px;

    background-color: rgba(223, 223, 223, 0.096);
    color: brown;
}

#header-gamer {
    padding: 16px;
}

#h1-game {
    font-size: 23px;
}

/* GAME */
#back-index {
    text-decoration: none;
}

.win-die {
    text-align: center;
}

.win-die #back-index {
    font-family: 'Raleway', sans;
}

#tutorial {
    height: auto;
    width: 50%;
    padding: 10px;

    font-size: 1.6em;

    border: 1px solid brown;
    text-align: center;
    margin: 0 auto;
}

#gameplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

#gameplay #dice-btn {
    padding: 16px;
    margin-bottom: 20px;

    background-color: brown;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.6em;
    font-family: 'Roboto Mono', sans-serif;

    transition: 0.5s;
}

#dice-btn:hover {
    cursor: pointer;
}

#attempt label {
    font-size: 1.6em;
}
#gameplay #attempt {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

#gameplay #attempt #attempt-input {
    width: 100px;
    height: 35px;
    margin: 10px auto;

    background-color: rgba(223, 223, 223, 0.096);
    border: none;
    border-bottom: 2px solid rgb(206, 107, 107);
    border-left: 2px solid rgb(206, 107, 107);
    border-radius: 10px;

    font-family: 'Roboto Mono', sans-serif;
    color: white;
    padding: 5px;
    padding-left: 15px;
}

#gameplay #attempt #send-answer {
    padding: 15px;
    margin: 10px auto;
    
    border-radius: 10px;
}

#send-answer:hover {
    cursor: pointer;
    background-color: rgb(255, 203, 203);
}

.win-die {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.win-die a {
    margin-bottom: 2rem;
}

#attempts-count p {
    font-size: 1.6em;
}

#count {
    font-size: 2.0em;
    font-family: 'Raleway';
    margin-left: 8px;
    color: coral;
}

.win-die {
    margin-top: 30px;
    font-family: 'Aboreto';
    font-size: 16px;
}

/* INDEX */

form {
    display: flex;
    flex-direction: column;
}

.game h3 {
    font-family: 'Aboreto';
    margin: 8px;
    font-size: 24px;
}

.game label {
    font-size: 18px;
}

.game #name-user {
    width: 30%;
    height: 35px;
    margin: 10px auto;

    background-color: rgba(223, 223, 223, 0.096);
    border: none;
    border-bottom: 2px solid rgb(206, 107, 107);
    border-left: 2px solid rgb(206, 107, 107);
    border-radius: 10px;

    font-family: 'Roboto Mono', sans-serif;
    color: white;
    padding: 5px;
    padding-left: 15px;
}

.credits {
    visibility: hidden;
    margin-top: 10px;

    text-align: center;
    font-family: 'Roboto Mono';
    font-size: 1.4em;
}

@media screen and (max-width: 480px) {
    header {
        margin-bottom: 60px;
    }

    .game {
        width: 50%;
    }

    .game #name-user {
        width: 35%;
    }

    #gamemode {
        width: 45%;
    }
}

@media screen and (max-height: 600px) {
    .credits{
        visibility: visible;
    }

    #footer {
        display: none;
}
}

.game #submit {
    width: 42px;
    margin: 10px auto;
    height: 35px;

    transition: 0.5s;
}

#submit:enabled {
    cursor: pointer;
}

/* Hover quando está habilitado */
#submit:not(:disabled):hover {
    color: rgb(146, 11, 11);
}

#footer {
    position: relative;
    bottom: 0;

    margin-top: auto;
    width: 100%;
    text-align: center;
    font-family: 'Roboto Mono';
    font-size: 1.4em;

    background-color: rgba(223, 223, 223, 0.096);
}

ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 80%;
    margin: 0 auto;

    list-style: none;
}

ul li:not(:first-child) {
    margin-left: 40px;
}

#gabi-instagram {
    text-decoration: none;
    color: brown;
}

#gabi-instagram:active {
    color: red;
}